* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

:root {
  --red-color: #d35266;
  --black-color: #383838;
  --gray-color: #888;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: var(--red-color);
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

.fit-content {
  width: fit-content;
}

.collection {
  background-color: #f6f6f6 !important;
  border-top: solid 1px var(--gray-color);
  border-bottom: solid 1px var(--gray-color);
}

.containte {
  width: 100%;
}

.navbar-container {
  background-color: var(--black-color);
  color: var(--gray-color);
  font-size: 12px;
}

.navbar-container img {
  width: 75px;
  margin: -19px 0;
  margin-left: 8rem !important;
}

.navbar-container i {
  padding: 0 15px !important;
}

.navbar-container a {
  font-size: 15px;
}

.fa {
  font-size: 15px;
}

.banner-container {
  background-image: url("../img/cover.jpg");
  background-size: cover;
}

.banner-logo p {
  margin-top: -32px !important;
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border: solid;
  border-style: none;
  margin: -1px;
  height: 44px;
}

.btn-search {
  background-color: var(--black-color);
  border: none;
  color: white;
  margin-left: 9px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.item-img {
  background-image: url("../img/fig-1.jpg");
  width: 100%;
}

.card-items {
  width: 86%;
  margin: 0 auto;
  min-height: 200px;
}

.card-items h5 {
  font-size: 0.9rem !important;
}

.size-img-top {
  width: 15.4rem !important;
  height: 15rem !important;
}

.br-bottom {
  margin-top: -1rem !important;
}

.btn-price {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  margin-left: 4rem !important;
}

.btn-plus {
  height: fit-content !important;
}

.big-btn {
  width: 32%;
  text-align: left;
}

.up-title {
  margin-left: 8rem !important;
}

.up-img img {
  margin-left: 8rem !important;
}

.arrow-img {
  margin-top: 12rem !important;
  border-radius: 50%;
}

.footer-links {
  margin-top: 5rem !important;
}

.social-icon .fa {
  font-size: 37px;
  border: solid none;
  border-radius: 60%;
  padding: 4px 14px;
  background-color: white;
  color: var(--red-color);
}

.res-article {
  min-height: 200px;
}

.user-nav {
  margin-right: 7rem !important;
}

@media screen and (min-width: 600px) {
  .navbar-container img {
    width: 75px;
    margin: -40px -3px;
    margin-left: 2rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .arrow-img {
    margin-top: 5rem !important;
  }
}

@media screen and (min-width: 1400px) {
  .footer {
    margin-left: 27rem !important;
  }

  .btn-price {
    margin-left: 28rem !important;
  }

  .sub-btn {
    margin-right: 8rem !important;
  }

  .arrow-img {
    margin-top: 5rem !important;
  }
}
